RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

# add a trailing slash to /wp-admin
RewriteRule ^([_0-9a-zA-Z-]+/)?wp-admin$ $1wp-admin/ [R=301,L]

## Lagacy UMC to UMC 2.0 redirects
# Redirect sign-up to signup
RewriteRule ^sign-up/? signup [R=303,L]
# Redirect login to signin
RewriteRule ^login/? /signin/ [R=301,L]
# Redirect UMC v1 genre urls
RewriteRule ^genre/([_0-9a-zA-Z-]+)/?$ browse/$1 [R=303,L]
# Redirect UMC v1 cast urls to search
RewriteRule ^cast/([_0-9a-zA-Z-]+)/?$ search/$1 [R=303,L]
# Redirect UMC v1 tv series collection to new one
RewriteRule ^collection/tv-series/? browse/tvshows-and-originalseries [R=303,L]
# Redirect rest of UMC v1 collection
RewriteRule ^collection/(new-releasesexclusives|popular|comingsoon)/?$ browse/$1 [R=303,L]
# redirect the collections page itslef
RewriteRule ^collections/? browse [R=303,L]

# Redirect urbanmoviechannel.com to umc.tv
RewriteCond %{HTTP_HOST} ^urbanmoviechannel\.com$ [NC]
RewriteRule ^(.*)$ https://umc.tv/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(wp-(content|admin|includes).*) $2 [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(.*\.php)$ $2 [L]
RewriteRule . index.php [L]

