# https://forums.aws.amazon.com/thread.jspa?threadID=240074
# https://github.com/phpredis/phpredis/blob/develop/INSTALL.markdown
# http://qpleple.com/install-phpredis-on-amazon-beanstalk/
packages:
  yum:
    php7-pear: []
    php71-devel: []
    gcc: []

commands:
    01_redis_install:
        test: '[ ! -f /etc/php.d/redis.ini ] && echo "redis not installed"'
        command: |
          yes '' | sudo pecl7 install redis
          echo extension=redis.so > /etc/php.d/redis.ini
